body {
}

/* Global header */
.gHeader {
    display: flex;
    height: 10%;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: lightgray;
    border-bottom: 1px solid #000;
}

.pageTitle {
    font-size: 1.5rem;
    margin: auto 0;
    text-shadow: 1px 1px 1px grey;
}

.gVolDisplay {
    white-space: nowrap;
    margin: auto 20px auto auto;
}

.globalVol {
    width: 150px;
}

/* Specific elements */
.editorcontainer {
    display: flex;
    width: 1700px;
    height: 88%;
}

.contentcontainer {
    height: 100%;
    width: 85%;
    background-color: darkgrey;
    overflow: auto;
    padding: 10px;
    border-bottom: 2px solid;
    border-top: 2px solid;
}

.bar {
    display: block;
    height: 100px;
    background-color: lightgrey;
    margin: 10px;
}

    .bar:focus {
        background-color: white;
        transition-duration: 100ms;
    }

.toolcontainer {
    width: 15%;
    background-color: lightseagreen;
    padding: 10px;
    border: 2px solid;
}

.toolCat {
    border: 2px dashed black;
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
}

.tool {
    display: block;
    border: 5px groove;
    margin: 10px;
    width: 205px;
}

.tool:hover {
    background-color: lightgrey;
}

    .tool:active {
        background-color: grey;
    }
