@page "/editor"
@rendermode InteractiveWebAssembly

@inject AudioPlayerService audioPlayerService

@using SonoGraph.Client.Models

<!--test header to show global volume. Header is removeable-->
<header class="gHeader">
	<h3 class="pageTitle">Audio Editor</h3>
	<span class="gVolDisplay"> Global volume: @audioPlayerService.MasterVolume%</span>
	<input class="globalVol" type="range" min="0" max="100" @bind="@audioPlayerService.MasterVolume" @bind:event="oninput" />
</header>

<div class="editorcontainer">
	<div class="contentcontainer">
		<h3>Content</h3>
		<div class="sound-list">
			@{
				double currentLeft = 0;
			}
			@foreach (var Sound in Sounds)
			{
				<button type="button" class="soundBar" style="width:@(Sound.Duration)px; margin-left:@(currentLeft)px"></button>
				currentLeft += Sound.Duration;
			}
		</div>
	</div>
	<div class="toolcontainer">
		<h3>Tools</h3>
	</div>
</div>

@code {
	List<Sound> Sounds = new();

	protected override void OnInitialized()
	{
		base.OnInitialized();
		int[] Durations = { 20, 50, 10, 5, 100, 150, 110, 135 };
		foreach (int Duration in Durations)
		{
			Sounds.Add(new Sound(50.0, 50.0, Duration));
		}
		Audio audio = new Audio(WaveFormType.Sine, Sounds);

	}
}
