@page "/canvas"
@rendermode InteractiveWebAssembly

@using SonoGraph.Client.Models
@using System.Drawing

@inject IJSRuntime JSRuntime

<h3>Canvas</h3>

<p>Mouse position x: @_mouse.X</p>
<p>Mouse position y: @_mouse.Y</p>
<p>Drawing active: @_isDrawing</p>
<p>On cooldown: @_isCooldown</p>

<canvas id="myCanvas" width="1000" height="500" style="border:1px solid #000000;"
@onmousedown="OnMouseDown" @onmousemove="OnMouseMove" @onmouseup="OnMouseUp" @onmouseleave="OnMouseUp" />

@code {

    private bool _isDrawing = false;
    private bool _isCooldown = false;
    private Coordinate _mouse = new Coordinate();

    private Color strokeColor = Color.DeepSkyBlue;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initializeDrawing", "myCanvas");
        }
    }

    private async Task OnMouseDown(MouseEventArgs e)
    {
        if (_isCooldown) return;

        await JSRuntime.InvokeVoidAsync("startDrawing", e.OffsetX, e.OffsetY, ColorTranslator.ToHtml(strokeColor));

        _isDrawing = true;
    }

    private async Task OnMouseMove(MouseEventArgs e)
    {
        _mouse.X = e.OffsetX;
        _mouse.Y = e.OffsetY;
        DateTime dateTime = DateTime.Now;

        if (!_isDrawing) return;

        await JSRuntime.InvokeVoidAsync("draw", e.OffsetX, e.OffsetY);

        // await SendDrawData(_mouse, dateTime)
    }

    private async Task OnMouseUp(MouseEventArgs e)
    {
        if (_isCooldown || !_isDrawing) return;

        _isDrawing = false;
        _isCooldown = true;

        await JSRuntime.InvokeVoidAsync("stopDrawing");

        await Task.Delay(2000);

        await JSRuntime.InvokeVoidAsync("clearCanvas");

        _isCooldown = false;
    }
}
