@page "/"
@rendermode InteractiveWebAssembly

<h1>SonoGraph – Ein Projekt für UE Multimediasysteme</h1>

<p>
    Mit dieser Webanwendung können durch Freihandzeichnen Töne erzeugt und anschließend bearbeitet werden.
</p>

<h2>Zeichnen</h2>

<p>
    Auf der Zeichenfläche lassen sich freihand Töne erzeugen.
    Die Position bestimmt dabei die Frequenz und Lautstärke.
</p>

<h2>Tonbearbeitung</h2>

<p>
    Die erzeugten Töne können im Editor in ihrer Frequenz angepasst, gekürzt
    oder miteinander verschmolzen werden.
</p>

<style>
    h1, h2 {
        margin-left: 20px; 
    }

    p {
        margin-left: 25px;
        line-height: 1.5;
    }
</style>

